.butt{
  border-radius: 1rem;
  color: #505e6c;
  background: rgba(0,0,0,0.1);
  border-radius: 60px;
  font-size: 18px;
}
.btn{
  border-radius: 4rem;
}
table{
  border-radius: 5rem;
}

.login-dark {
  height: 1000px;
  // background: #475d62 url(star-sky.jpg);
  background-size: cover;
  position: relative;
}
