.butt{
  border-radius: 1rem;
  color: #505e6c;
  background: rgba(0,0,0,0.1);
  border-radius: 60px;
  font-size: 18px;
}
.btn{
  border-radius: 4rem;
}
table{
  border-radius: 5rem;
}
td{
      max-width: 100%;
}
.mat-chip-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.6rem;
}
