.btn{
  border-radius: 1rem;
}
.footer {
  display: flex !important;
  align-content: flex-end !important;
  margin-top: 1rem !important;
  justify-content: space-between !important;
  align-items: baseline !important;
  font-size: 1rem !important;
}
::ng-deep #toast-container > div {
    opacity: 1 !important;
}
