<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="user-profile-list">
      <div class="row align-items-center m-l-0">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-primary  btn-round has-ripple" (click)="modalCustomer.show();clearForm()"><i
              class="feather icon-plus"></i> Add Customer</button>
        </div>
        <app-ui-modal #modalCustomer>
          <div class="app-modal-header">
            <h5 class="modal-title">Add Seller</h5>
            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
              (click)="modalCustomer.hide()"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="app-modal-body" [formGroup]="seller">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': !this.seller.controls['username'].valid&&
                   this.seller.controls['username'].touched}" placeholder="Name" formControlName="username" >
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group fill">
                  <input type="email" class="form-control"
                    [ngClass]="{'is-invalid': !this.seller.controls['email'].valid&&
                   this.seller.controls['email'].touched}" placeholder="Email" formControlName="email">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group fill">
                  <input type="password" class="form-control"
                    [ngClass]="{'is-invalid': !this.seller.controls['password'].valid&&
                   this.seller.controls['password'].touched}" placeholder="Password" formControlName="password">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': !this.seller.controls['phone'].valid&&
                   this.seller.controls['phone'].touched}" placeholder="Phone" formControlName="phone">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" [ngClass]="{'is-invalid': !this.seller.controls['age'].valid&&
                   this.seller.controls['age'].touched}" placeholder="Age" formControlName="age">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': !this.seller.controls['address'].valid&&
                   this.seller.controls['address'].touched}" placeholder="address" formControlName="address">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': !this.seller.controls['city'].valid&&
                   this.seller.controls['city'].touched}" placeholder="City" formControlName="city">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': !this.seller.controls['state'].valid&&
                   this.seller.controls['state'].touched}" placeholder="State" formControlName="state">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" [ngClass]="{'is-invalid': !this.seller.controls['zip'].valid&&
                   this.seller.controls['zip'].touched}" placeholder="Zip" formControlName="zip">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <select class="form-control" [ngClass]="{'is-invalid': !this.seller.controls['zender'].valid&&
                   this.seller.controls['zender'].touched}" formControlName="zender">
                    <option value=" " selected > Select Sex</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group fill">
                  <label class="floating-label" for="Icon">Profie Image</label>
                  <input type="file" class="form-control"
                  formControlName="userImage"
                    [ngClass]="{'is-invalid': !this.seller.controls['userImage'].valid && !file}"
                    (change)="fileChangeEvent($event)">
                   
                </div>
                 <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                   [aspectRatio]="1 / 1" format="png" (imageCropped)="imageCropped($event)"
                   (imageLoaded)="imageLoaded($event)"
                   (cropperReady)="cropperReady()"
                   (loadImageFailed)="loadImageFailed()"></image-cropper>
              </div>
              <!-- <div class="col-sm-6">
                <div class="form-group fill">
                  <label class="floating-label" for="Birth">Birth Date</label>
                  <input type="date" class="form-control"  [ngClass]="{'is-invalid': !this.seller.controls['perent'].valid&&
                   this.seller.controls['perent'].touched}" id="Birth" placeholder="123">
                </div>
              </div> -->
              <!-- <div class="col-sm-12">
                <div class="form-group">
                  <select class="form-control"  [ngClass]="{'is-invalid': !this.seller.controls['perent'].valid&&
                   this.seller.controls['perent'].touched}">
                    <option value="">Select Blood Group</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                  </select>
                </div>
              </div> -->
            </div>
          </div>
          <div class="app-modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"
              (click)="modalCustomer.hide();clearForm()">Clear</button>
            <button type="button" class="btn btn-primary my-3"
              (click)="submit();modalCustomer.hide()">{{id?'Update':'submit'}}</button>
          </div>
        </app-ui-modal>
      </div>
      <div class="">
        <input type="text" class="form-control"   placeholder="Search..." (input)="Search($event)" autocomplete="off">
      </div>
      <div class="dt-responsive table-responsive">
        <table datatable class="table table-striped row-border table-hover">
          <thead style="width: 100%;">
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Age</th>
              <th>City</th>
              <th>State</th>
              <th>Zender</th>
              <th>Set Status</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableData">
              <td>
                <div class="d-inline-block align-middle" routerLink="{{'prodects/'+item._id}}" >
                  <img src="{{imageURL + item.userImage}}" alt="user image" class="img-radius align-top m-r-15"
                    style="width:40px;">
                  <div class="d-inline-block">
                    <h6 class="m-b-0">{{item.username}}</h6>
                    <p class="m-b-0">{{item.email}}</p>
                  </div>
                </div>
              </td>
              <!-- <td>
                <div class="input-group-append" ngbDropdown [placement]="'bottom-left'">
                  <button class="btn btn-light" ngbDropdownToggle type="button">Dropdown</button>
                  <div ngbDropdownMenu>
                   <a class="dropdown-item"">Products Management</a>
                   <a class="dropdown-item" routerLink="{{'service/'+item._id}}">Service Management</a>
                  </div>
                </div>
              </td> -->
              <td>{{item.phone}}</td>
              <td>{{item.age}}</td>
              <td>{{item.state}}</td>
              <td>{{item.city}}</td>
              <td>{{item.zender}}</td>
              <td>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="{{item._id}}" (change)="statusHandel($event)"
                    [checked]="item.satate">
                  <label class="custom-control-label" for="{{item._id}}"></label>
                </div>
              </td>
              <td>
                <span class="badge " ngClass="{{item.satate ? 'badge-light-success' :'badge-light-danger'}}
                  ">{{item.satate ? 'Active' :'Disabled'}} </span>
                <div class="overlay-edit">
                  <button type="button" class="btn btn-icon btn-success" (click)="modalCustomer.show();update(item)"><i
                      class="feather
                    icon-edit"></i></button>
                  <button type="button" class="btn btn-icon btn-danger" (click)="remove(item._id)"><i
                      class="feather icon-trash-2"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <div class="footer">
            <div>
              <span class="page-item">
                <p class="mb-0 px-3"> {{next+1}} - {{counts()}} of {{count}}
                </p>
              </span>
            </div>
            <div>
              <ul class="pagination  ">
                <li class="page-item   ">
                  <button [disabled]="next == 0" class="page-link" href="#" (click)="previeus()">Previous</button>
                </li>
                <li class="page-item">
                  <button [disabled]="count == counts() || count <= 10" class="page-link"
                    (click)="nexts()">Next</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
