<app-card [hidHeader]="true" cardClass="user-profile-list">
  <div class="container p-5">
    <div class="row ">
      <div class="col-xl-3 col-md-6 mx-auto p-3"  >
        <app-card [hidHeader]="true" cardClass=" order-card">
          <h3>{{order?order:"N/A"?order:"N/A"}}</h3>
          <p class="text-muted"> Total Orders</p>
          <!-- <app-apex-chart chartID="seo-chart-1" [chartConfig]="this.seoChartData1"></app-apex-chart> -->
          <i class="card-icon feather icon-shopping-cart float-end text-muted text-info"></i>
        </app-card>
      </div>
      <div class="col-xl-3 col-md-6 mx-auto p-3">
        <app-card [hidHeader]="true" cardClass=" order-card">
          <h3>{{selse?selse:"N/A"}}</h3>
          <p class="text-muted">Total Sales</p>
          <i class="card-icon feather icon-bar-chart float-end text-muted text-success"></i>
          <!-- <app-apex-chart chartID="seo-chart-2" [chartConfig]="this.seoChartData2"></app-apex-chart> -->
        </app-card>
      </div>
      <div class="col-xl-3 col-md-6 mx-auto p-3">
        <app-card [hidHeader]="true" cardClass=" order-card">
          <h3>{{products?products:"N/A"}}</h3>
          <p class="text-muted">Total Products</p>
          <i class="card-icon feather icon-package float-end text-muted   text-primary"></i>

          <!-- <app-apex-chart chartID="seo-chart-3" [chartConfig]="this.seoChartData3"></app-apex-chart> -->
        </app-card>
      </div>
      <div class="col-xl-3 col-md-6 mx-auto p-3">
        <app-card [hidHeader]="true" cardClass=" order-card">
          <h3>{{services?services:"N/A"}}</h3>
          <p class="text-muted">Total Service</p>
          <i class="card-icon feather icon-settings float-end text-muted   text-warning"></i>
          <!-- <app-apex-chart chartID="seo-chart-3" [chartConfig]="this.seoChartData3"></app-apex-chart> -->
        </app-card>
      </div>
      <div class="col-md-6 col-xl-4 ">
        <app-card [hidHeader]="true" cardClass="bg-c-yellow order-card " >
          <h6 class="text-white">Revenue</h6>
          <h2 class="text-white mb-2">{{ convert(revenyu)}}</h2>
          <i class="card-icon feather icon-filter "></i>
          <br>
        </app-card>
      </div>
      <div class="col-md-6 col-xl-4">
        <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
          <h6 class="text-white">Total Order Cancel</h6>
          <h2 class="text-white">{{cancelproduct?cancelproduct:"N/A"}}</h2>
          <br>
          <i class="card-icon feather icon-x"></i>
        </app-card>
      </div>
      <div class="col-md-6 col-xl-4">
        <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
          <h6 class="text-white">Total Service Book</h6>
          <h2 class="text-white">{{totalservicebook?totalservicebook:"N/A"}}</h2>
          <br>

          <i class="card-icon feather icon-radio"></i>
        </app-card>
      </div>
    </div>
  </div>
  <div class="row" >
    
    

      <div class="table-responsive">
        <table datatable id="report-table" class="table mb-0">
          <thead class="thead-light">
            <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of feedback?.slice(0, 5);let i = index " >
            <td class="align-middle">
              {{i+1}}
            </td>
            <td class="align-middle">
              {{item.name}}
            </td>
            <td class="align-middle">
              {{item.email}}
            </td> <td class="align-middle">
              {{item.phone}}
            </td>
            <td class="align-middle">
              {{item.message}}
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
</app-card>
